@import "tailwindcss";

:root {
  --background: #faf9f7;
  --foreground: #2e2e2e;
/* 
  --sage: #8f9f8c;
  --sage-dark: #6f7f6c;
  --beige: #e9e5dc; */

  --sage: #8a9b8f;
  --sage-dark: #6f7f6c;
  --beige: #f4efe9;
  --off-white: #fafafa;
  --charcoal: #2f2f2f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-sage: var(--sage);
  --color-sage-dark: var(--sage-dark);
  --color-beige: var(--beige);
}

body {
  background: var(--background);
  color: var(--foreground);
}
